workflows/mailfast.workflow.json
{
  "name": "automation-ai",
  "nodes": [
    {
      "parameters": {
        "jsCode": "// Loop over input items and extract specific email fields\nreturn $input.all().map(item => {\n  return {\n    json: {\n      From: item.json.From,\n      Subject: item.json.Subject,\n      snippet: item.json.snippet\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -336,
        -496
      ],
      "id": "e429a309-08e9-4407-82ab-6db7a479f030",
      "name": "clean data A"
    },
    {
      "parameters": {
        "jsCode": "// Extract the AI reply and original email details for the MailFast dashboard\nreturn [\n  {\n    json: {\n      from: $('clean data A').first().json.From,\n      subject: $('clean data A').first().json.Subject,\n      snippet: $('clean data A').first().json.snippet,\n      aiReply: $('MailBrain1').first().json.output\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        560,
        -496
      ],
      "id": "f12548dc-8536-475c-b81b-97d1c373cc5e",
      "name": "clean data B"
    },
    {
      "parameters": {
        "operation": "markAsRead",
        "messageId": "={{ $('Gmail Trigger1').item.json.id }}"
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        -544,
        -304
      ],
      "id": "44f53942-7254-4644-8e40-54df20dd4ba6",
      "name": "Mark a message as read1",
      "credentials": {
        "gmailOAuth2": {
          "id": "K7GnIQq0q6TC33me",
          "name": "Gmail account 2"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": []
        },
        "filters": {
          "includeSpamTrash": false,
          "readStatus": "unread"
        }
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.4,
      "position": [
        -1168,
        -480
      ],
      "id": "834e6419-65b9-4c96-bd1b-22a40ca9beb4",
      "name": "Gmail Trigger1",
      "retryOnFail": false,
      "credentials": {
        "gmailOAuth2": {
          "id": "K7GnIQq0q6TC33me",
          "name": "Gmail account 2"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-1.5-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1.1,
      "position": [
        -96,
        -288
      ],
      "id": "e8fac187-47e5-4de3-ac4a-5399ec6f330c",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "Ifv45E5n4f16scwA",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $('Gmail Trigger1').item.json.From }}",
        "subject": "automated  reply",
        "emailType": "text",
        "message": "={{ $json.output }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        352,
        -496
      ],
      "id": "baa4f8be-8aeb-415e-b0b5-107200ee450e",
      "name": "Send a message1",
      "credentials": {
        "gmailOAuth2": {
          "id": "K7GnIQq0q6TC33me",
          "name": "Gmail account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "markAsRead",
        "messageId": "={{ $('Gmail Trigger1').item.json.id }}"
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1056,
        -496
      ],
      "id": "3812eed5-baa9-4264-9f9f-2f0f0fb99338",
      "name": "Mark a message as read2",
      "credentials": {
        "gmailOAuth2": {
          "id": "K7GnIQq0q6TC33me",
          "name": "Gmail account 2"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:5000/api/n8n/incoming",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "x-api-key",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9..."
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "from",
              "value": "={{ $json.from }}"
            },
            {
              "name": "subject",
              "value": "={{ $json.subject }}"
            },
            {
              "name": "snippet",
              "value": "={{ $json.snippet }}"
            },
            {
              "name": "reply",
              "value": "={{ $json.aiReply }}"
            },
            {
              "name": "clientGmail",
              "value": "=chandanmedia098@gmail.com"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        784,
        -496
      ],
      "id": "4da5a494-6be6-4b4e-aa54-9df181e3ed2f",
      "name": "Store In MailFast Dashboard"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=here is the incoming email:{{ $('Gmail Trigger1').item.json.snippet }}",
        "options": {
          "systemMessage": "=You are an AI email assistant integrated into an n8n workflow. Your role is to automatically reply to incoming emails on behalf of the user."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -80,
        -496
      ],
      "id": "c4ad4231-b778-45b0-8c4d-423976f51b8a",
      "name": "MailBrain1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "ca577999-9ed6-4aa3-8203-b6016210147c",
              "leftValue": "={{ $json.labels[2].id }}",
              "rightValue": "READ",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            },
            {
              "id": "91db3116-8498-4391-b465-ee6e42bc7669",
              "leftValue": "={{ $json.labels[1].id }}",
              "rightValue": "CATEGORY_UPDATES",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            },
            {
              "id": "f4d1b1f8-0898-4042-a7b1-7ba2f305ad27",
              "leftValue": "={{ $json.Subject }}",
              "rightValue": " Request for Email Verification",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            },
            {
              "id": "fb052f8e-e0e1-4126-a422-20a57b709d06",
              "leftValue": "={{ $json.labels[2].id }}",
              "rightValue": "CATEGORY_PROMOTIONS",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            },
            {
              "id": "8fb5cb00-5d81-485d-bf35-263ed3b5b381",
              "leftValue": "={{ $json.labels[1].id }}",
              "rightValue": "CATEGORY_PROMOTIONS",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -736,
        -480
      ],
      "id": "2ddbd1db-f59c-4877-85e3-95cb53a9db0d",
      "name": "If2"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "0522407b-1d7d-4bf6-bf63-6423aaab1b5e",
              "leftValue": "={{ $json.labels[2].id }}",
              "rightValue": "CATEGORY_PROMOTIONS",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -896,
        -688
      ],
      "id": "b101e752-3ba4-43cd-b8f0-4128f303862a",
      "name": "If3"
    },
    {
      "parameters": {
        "operation": "delete",
        "messageId": "={{ $('Gmail Trigger1').item.json.id }}"
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        -624,
        -704
      ],
      "id": "f8959f6d-a4cf-46cd-95fa-0f1a9e5d6e58",
      "name": "Delete a message1",
      "credentials": {
        "gmailOAuth2": {
          "id": "K7GnIQq0q6TC33me",
          "name": "Gmail account 2"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "clean data A": {
      "main": [
        [
          {
            "node": "MailBrain1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "clean data B": {
      "main": [
        [
          {
            "node": "Store In MailFast Dashboard",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail Trigger1": {
      "main": [
        [
          {
            "node": "If3",
            "type": "main",
            "index": 0
          },
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "MailBrain1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Send a message1": {
      "main": [
        [
          {
            "node": "clean data B",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Store In MailFast Dashboard": {
      "main": [
        [
          {
            "node": "Mark a message as read2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MailBrain1": {
      "main": [
        [
          {
            "node": "Send a message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "clean data A",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Mark a message as read1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If3": {
      "main": [
        [
          {
            "node": "Delete a message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "tags": []
}