workflows/mailfast.workflow.json
{
  "name": "automation-ai",
  "nodes": [
    {
      "parameters": {
        "jsCode": "return $input.all().map(item => ({\n  json: {\n    From: item.json.from.address,\n    Subject: item.json.subject,\n    snippet: item.json.textPlain ? item.json.textPlain.substring(0, 100) : ''\n  }\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -336,
        -496
      ],
      "id": "e429a309-08e9-4407-82ab-6db7a479f030",
      "name": "clean data A"
    },
    {
      "parameters": {
        "jsCode": "// Extract the AI reply and original email details for the MailFast dashboard\nreturn [\n  {\n    json: {\n      from: $('clean data A').first().json.From,\n      subject: $('clean data A').first().json.Subject,\n      snippet: $('clean data A').first().json.snippet,\n      aiReply: $('MailBrain1').first().json.output\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        560,
        -496
      ],
      "id": "f12548dc-8536-475c-b81b-97d1c373cc5e",
      "name": "clean data B"
    },
    {
      "parameters": {
        "postProcessAction": "nothing",
        "downloadAttachments": false
      },
      "type": "n8n-nodes-base.emailReadImap",
      "typeVersion": 2,
      "position": [
        -1168,
        -480
      ],
      "id": "834e6419-65b9-4c96-bd1b-22a40ca9beb4",
      "name": "Gmail Trigger1"
    },
    {
      "parameters": {
        "modelName": "models/gemini-3.5-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1.1,
      "position": [
        -96,
        -288
      ],
      "id": "e8fac187-47e5-4de3-ac4a-5399ec6f330c",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "Ifv45E5n4f16scwA",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "fromEmail": "",
        "toEmail": "={{ $('Gmail Trigger1').item.json.from.address }}",
        "subject": "automated reply",
        "text": "={{ $json.output }}"
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        352,
        -496
      ],
      "id": "baa4f8be-8aeb-415e-b0b5-107200ee450e",
      "name": "Send a message1",
      "webhookId": "d3151067-ff30-4684-9711-e79a3a58373a"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:5000/api/n8n/incoming",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "x-api-key",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiJiZjI1OTU4My0zZWFmLTRhOWQtYWQyNy03ZDg2Mzk2MTM0MWQiLCJpc3MiOiJuOG4iLCJhdWQiOiJwdWJsaWMtYXBpIiwianRpIjoiNzkxNzYxMjUtMmE1NS00ZmQ5LWIwMmMtZjZmYjIyNWY5ODk1IiwiaWF0IjoxNzgxMDkyMjU0LCJleHAiOjE3ODg4NDAwMDB9.98VnwPZ5XYQ0DILc4E_HRA0eE1rwqVKFJ3nDjNb0h9Q"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ clientGmail: $('Gmail Trigger1').item.json.to?.address || $('Gmail Trigger1').item.json.to || $('Gmail Trigger1').item.json.To || '', from: $('clean data A').first().json.From || '', subject: $('clean data A').first().json.Subject || '', snippet: $('clean data A').first().json.snippet || '', aiReply: $json.aiReply || '', priority: 'normal', status: 'replied' }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        784,
        -496
      ],
      "id": "4da5a494-6be6-4b4e-aa54-9df181e3ed2f",
      "name": "Store In MailFast Dashboard"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=here is the incoming email:{{ $('Gmail Trigger1').item.json.snippet }}",
        "options": {
          "systemMessage": "=You are an AI email assistant integrated into an n8n workflow. Your role is to automatically reply to incoming emails on behalf of the user. Follow these rules:\n\n1. **Tone & Style**\n   - Be polite, professional, and concise.\n   - Match the sender's tone (formal/informal) while keeping replies respectful.\n   - Avoid jargon unless the sender used it.\n\n2. **Reply Content**\n   - Summarize the sender's main point clearly.\n   - Provide a helpful, relevant response that addresses the sender's request.\n   - If the email is informational only, acknowledge receipt and thank the sender.\n   - If clarification is needed, politely ask for more details.\n\n3. **Personalization**\n   - Always reply as if you are the user (first person: \"I\" not \"we\").\n   - Use the sender's name if available.\n   - Close with a professional sign-off (e.g., \"Best regards, Chandan\").\n\n4. **Boundaries**\n   - Do not share sensitive information unless explicitly provided in the workflow.\n   - Do not generate commitments (like scheduling meetings) unless instructed.\n   - Keep responses under 200 words unless the email requires detailed explanation.\n\n5. **Fallback**\n   - If the email is spam, irrelevant, or unclear, respond with:  \n     \"Thank you for your message. I'll review it and get back to you if needed.\"\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -80,
        -496
      ],
      "id": "c4ad4231-b778-45b0-8c4d-423976f51b8a",
      "name": "MailBrain1"
    }
  ],
  "pinData": {},
  "connections": {
    "clean data A": {
      "main": [
        [
          {
            "node": "MailBrain1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "clean data B": {
      "main": [
        [
          {
            "node": "Store In MailFast Dashboard",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail Trigger1": {
      "main": [
        [
          {
            "node": "clean data A",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "MailBrain1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Send a message1": {
      "main": [
        [
          {
            "node": "clean data B",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Store In MailFast Dashboard": {
      "main": [
        []
      ]
    },
    "MailBrain1": {
      "main": [
        [
          {
            "node": "Send a message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "tags": []
}